.footer {
  background-color: $color-section;
}

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-content: center;
  @include media-tablet {
    margin-top: 45px;
  }
}

.footer__text {
  font-family: Ubuntu-Light, Verdana, sans-serif;
  @include font(1.4rem, 1.7rem);
  color: $color-contacts;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
}

.footer__number {
  text-decoration: none;
  font-family: Ubuntu-Regular, Verdana, sans-serif;
  @include font(1.8rem, 2.5rem);
  color: $color-contacts;
  letter-spacing: 0.02em;
  text-align: left;
  @extend %transition;
  &:hover {
    font-weight: bold;
    color: #6776ad;
  }
}

.footer__logo {
  padding: 93px 0 72px 0;
  @include media-tablet {
    padding: 70px 0 30px 0;
  }
}
