.comments {
  background-color: $color-background;
}

.comments__title {
  padding-top: 80px;
  padding-bottom: 60px;
}

.comments__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 43px;
}

.comment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 585px;
  margin-bottom: 61px;
}

.comment__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 358px;
}

.photo_Veronica {
  width: 176px;
  height: 212px;
  background-image: url('../assets/img/comments/Veronica.png');
  @include media-tablet {
    margin-bottom: 15px;
  }
}

.photo_Danil {
  width: 176px;
  height: 212px;
  background-image: url('../assets/img/comments/Danil.png');
  @include media-tablet {
    margin-bottom: 15px;
  }
}

.photo_Ivan {
  width: 176px;
  height: 212px;
  background-image: url('../assets/img/comments/Ivan.png');
  @include media-tablet {
    margin-bottom: 15px;
  }
}

.photo_Alina {
  width: 176px;
  height: 212px;
  background-image: url('../assets/img/comments/Alina.png');
  @include media-tablet {
    margin-bottom: 15px;
  }
}

.comment__title {
  font-family: Roboto-Bold;
  @include font(1.8rem, 2.5rem);
  color: $color-black;
  margin-bottom: 20px;
}

.comment__text {
  flex-grow: 1;
}
