.contacts {
  background-color: $color-section;
}

.contacts__title {
  padding-top: 149px;
  padding-bottom: 43px;
  @include media-mobile {
    padding-top: 70px;
  }
}

.contacts__container {
  display: flex;
  flex-direction: row;
  @include media-laptop {
    flex-wrap: wrap;
  }
  @include media-tablet {
    flex-wrap: wrap;
  }
}

.contacts__map {
  width: 734px;
  height: 444px;
  @include media-laptop {
    width: 400px;
    height: 300px;
  }
  @include media-tablet {
    width: 300px;
    height: 300px;
  }

  @include media-mobile {
    width: 300px;
    height: 300px;
  }
}

.adresses_item {
  color: $color-text;
  font-family: Roboto-Light, Verdana, sans-serif;
  @include font(1.5rem, 2.1rem);
  line-height: 2.5;
}

.contacts__adresses {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  line-height: 3;
  margin: 0px;
  padding: 0px;
  margin-left: 52px;
  & a {
    text-decoration: none;
    color: $color-title;
    font-weight: bold;
    @extend %transition;
    &:hover {
      font-weight: bold;
      color: #6776ad;
    }
  }
  @include media-laptop {
    margin: 20px;
  }

  @include media-tablet {
    margin: 0;
    margin-top: 20px;
  }
  @include media-mobile {
    margin-top: 20px;
  }
}

.messenger-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 52px;
  margin-top: 30px;
  @include media-tablet {
    margin-left: 0px;
  }
  @include media-mobile {
    margin-left: 0px;
  }
}

a.messenger {
  text-decoration: none;
  width: 24px;
  height: 24px;
  margin-right: 20px;
  cursor: pointer;
  @extend %transition;
}

.messenger:hover {
  transform: scale(1.2);
  @extend %transition;
}

.inst {
  background-image: url('/assets/img/messengers/inst.svg');
}
.wa {
  background-image: url('/assets/img/messengers/wa.svg');
}
.tg {
  background-image: url('/assets/img/messengers/tg.svg');
}
