.service {
  background-color: $color-section;
}

.service__container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 73px;
  padding-bottom: 80px;
  justify-content: space-between;
}

.service__title {
  margin-bottom: 30px;
}

.service__description {
  font-family: Roboto-Light, Verdana, sans-serif;
  @include font(1.8rem, 3.5rem);
  color: $color-text;
  list-style-image: url('/assets/img/service/marker.svg');

  @include media-mobile {
    @include font(1.5rem, 3.5rem);
  }
}

.description__item {
  padding-left: 15px;

  @include media-mobile {
    padding-left: 5px;
  }
}

.service__img {
  width: 599px;
  height: 355px;
  background-image: url('/assets/img/service/service.png');
  background-repeat: no-repeat;
  background-size: cover;
  @include media-tablet {
    display: none;
  }
}
